.contenedor{
    width: 30%;
    height: auto;
    border: 1px solid grey;
    border-radius: 20px;
    margin: auto;
}
/*---primera parte del proyecto--*/
.encabezado{
    margin: 10px 5px 10px 5px;
}
.logo-texto{
    display: flex;
    width: auto;
}
.logo-texto img{
    width: 30px;
    height: 24px;
}
.texto{
    width: auto;
    padding-right: 70%;
}
.texto h6{
    margin: 0px;
}
.tres-puntos{
    text-align: end;
}
/*------segunda parte del proyecto imagen-----*/
.imagen{
    width: auto;
    justify-content: center;
    object-fit: cover;
}
.imagen img {
    width: 400px;
    padding:2px
}
/*-----Tercera parte del proyecto pie de pagina----*/
.contenedor-icono{
    display:flex;
}
.iconos-tres{
    padding-right: 60%;
}
.parrafos{
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    text-align: justify;

}